* text eol=auto

*.lib binary
*.exe binary
*.png binary
*.taco binary

# windows eol (cr/lf)
*.cmd text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.csproj text eol=crlf
*.wixproj text eol=crlf

# unix eol (lf)
*.sh  text eol=lf
